<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>9R3975Z9XK</string>
    <key>teamName</key>
    <string>MORA YAZILIM BILISIM DANISMANLIK REKLAM ITHALAT IHRACAT SANAYI VE TICARET LTD STI </string>
</dict>
</plist>
