<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066048463929-rhv45ipp5airu8upteo8qq24i34busoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066048463929-rhv45ipp5airu8upteo8qq24i34busoe</string>
	<key>API_KEY</key>
	<string>AIzaSyDLlsZiQIA-Vi33R6IZDckE1-C7-EkfP60</string>
	<key>GCM_SENDER_ID</key>
	<string>1066048463929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moralabs.rubikscube</string>
	<key>PROJECT_ID</key>
	<string>mora-games</string>
	<key>STORAGE_BUCKET</key>
	<string>mora-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066048463929:ios:928027a2b33b04e021d9e8</string>
</dict>
</plist>